body {
    background-repeat: no-repeat;
    background-color: rgb(107, 223, 107);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Noto Sans TC", sans-serif;
}

.jumbotron {
    background-color: #b82b7d;
    color: white;
}

.block {
    padding-left: 180px;
}

.word {
    text-align: center;
    size: 10px;
}