h1 {
    color: #ec6618;
}

span#p1 {
    font-size: 100px;
    color: blueviolet;
}

span.name {
    color: rgb(223, 93, 33);
    font-weight: : bold;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom 2px;
}

body {
    background-repeat: no-repeat;
    background-color: rgb(107, 223, 107);
}

.container {
    padding: 55px;
}